{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
<link href="{% sass_src 'bookchat/css/book_page.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>

<div class="chat-container">
    <div class="chat-messages" id="chatMessages">
      <!-- 메시지가 표시될 영역 -->
    </div>
    <div class="user-input">
      <input type="text" id="userMessage" placeholder="메시지를 입력하세요...">
      <button type="button" id="submit">전송</button>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'bookchat/js/script.js' %}"></script>

{% endblock %}