{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block head %}
<link href="{% sass_src 'bookchat/css/index.scss' %}?v7" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<!-- <div class="book-list">
<h2>추천도서 목록</h2>
<ul>
    {% for book in books %}
    <li><a href="{% url 'bookchat:book-page' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
</ul>
</div> -->

<section class="body1 container-fluid">

    <div class="thumbnail">
        <div class="thumbnail-texts">
            <div class="thumbnail-titles">
                <div class="thumbnail-title">소통하는 책</div>
                <div class="thumbnail-subtitle">새로운 독서토론</div>
            </div>
            <div class="thumbnail-explain">
                <p>언제 어디서든 당신의 독서 토론 파트너</p>
                <p>원하는 시간 장소에서 인공지능 챗봇과 독서토론을 해보세요.</p>
            </div>
        </div>
        <img src="{% static 'bookchat/img/landing_img.svg' %}" class="img-fluid landing-img" alt="...">
    </div>
</section>

<div class="body2">
    <div class="book-sector">
    <div class="menus">
        <div class="menu_buttons">
            <button class="menu_button active"><span class="menu_contents active">전체보기</span></button>
            <button class="menu_button"><span class="menu_contents">BEST</span></button>
            <button class="menu_button"><span class="menu_contents">고전</span></button>
        </div>

    </div>
    <div class="books">
        {% for book in books %}
        <div class="book-info">
            <a href="{% url 'bookchat:book-page' book.id %}"><img src="{{ book.book_cover.url }}"></a>
            <span class="book-title">{{book.title}}</span>
            <span class="book-author">{{book.author}}</span>
        </div>
        {% endfor %}
    </div>

</div>
</div>
</section>
<section class="footer">
    <img src="{% static 'bookchat/img/footer.svg' %}" class="footer-img" alt="...">
</section>

{% endblock %}