

.menu {
    padding: 10px 0 0px;
}

  .btn-rounded-top {
    border-radius: 15px 15px 0 0;
  }


.sign button {
    height: 36px;
    padding: 6px 26.33px 8px 26px;
}

.body2 .div {
    padding-bottom: 20px;
}
.body3 .div {
    padding-bottom: 230px;
}

.footer {
    visibility: hidden;
    padding-top: 1px;
}

.footer-inner {
    height: 194px;
}