{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookChatting - 책과의 채팅</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- bookchat CSS -->
    <link href="{% sass_src 'css/common.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'css/navbar.scss' %}?v8" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}
    <script src="{% static 'bootstrap\dist\js\bootstrap.min.js' %}"></script>

</body>
</html>